/* ./src/index.css */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.App {
  background-color: #eee;
  background-image: url('../images/bg.png');
  background-size: cover;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-content: center;
  font-family: 'Roboto', sans-serif;
}

.page {
  width: 600px;
  max-width: 100%;
  margin: 0 auto;
  min-height: 100vh;
  padding: 2rem;
  background: #fff;

  &-title h1 {
    text-align: center;
  }

  &-control {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
  }
}